# Logs
yarn-debug.log*
yarn-error.log*

node_modules
.DS_Store
dist
dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
