@import "tailwindcss";

@theme {
  --font-body: 'Outfit', sans-serif;

  --color-gray-300: #8C8F91;
  --color-gray-500: #181E23;
  --color-gray-700: #151B20;

  --color-orange-500: #FF9026;
  --color-pink-500: #FF408E;
  --color-blue-500: #60C5F1;
}

/* outfit-100 - latin */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/outfit-v14-latin-100.woff2') format('woff2');
}
/* outfit-200 - latin */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/outfit-v14-latin-200.woff2') format('woff2');
}
/* outfit-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/outfit-v14-latin-300.woff2') format('woff2');
}
/* outfit-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/outfit-v14-latin-regular.woff2') format('woff2');
}
/* outfit-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/outfit-v14-latin-500.woff2') format('woff2');
}
/* outfit-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/outfit-v14-latin-600.woff2') format('woff2');
}
/* outfit-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/outfit-v14-latin-700.woff2') format('woff2');
}
/* outfit-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/outfit-v14-latin-800.woff2') format('woff2');
}
/* outfit-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/outfit-v14-latin-900.woff2') format('woff2');
}